<div class="row">
  <%= f.hidden_field :usrid, value: current_user.id %>
  <input type="hidden" id="timeZone" name="timeZone">

  <div class="form-group">
    <h3><%= f.label :buttontype, "*Title of Conversation" %></h3>
    <p class="help-block">Will your Conversation have a detailed topic? Do you have an area of expertise?</p>
    <%= f.text_field :name, size: 80 %><p>
  </div>

  <div class="form-group">
    <h3><%= f.label :buttontype, "*Topic" %></h3>
    <p class="help-block">Will your Conversation be a Study Hall Hour or a Conversation</p>
    <%= f.select(:topic, ['Study Hall', 'Conversation', 'Group Problem Solving'], {}) %><p>
  </div>

  <div class="form-group">
    <h3><%= f.label :buttontype, "Start Time" %></h3>
    <p class="help-block" id="hb1"></p>
    <%= f.datetime_select :start_at, ampm: true, default: 3.days.from_now, minute_step: 60, start_year: Date.today.year, end_year: Date.today.year + 1, :id => 'start-date' %>
  </div>

  <input type="hidden" id="recurring" name="recurring" value='null'>
  <!-- {"interval":1,"until":null,"count":null,"validations":null,"rule_type":"IceCube::DailyRule"} 

  {"interval":1,"until":null,"count":null,"validations":{"day":[0,1,2,3,4,5,6]},"rule_type":"IceCube::WeeklyRule","week_start":0}
  -->

  <h3><%= f.label :buttontype, "Recurring" %></h3>
    <!-- Recurring event button -->
  <button type="button" id="recurring-set" class="btn btn-primary" data-toggle="modal" data-target="#recurringModal">
    Set recurring event
  </button>

  <!-- Recurring Modal -->
  <div class="modal fade" id="recurringModal" tabindex="-1" role="dialog" aria-labelledby="recurringModalCenterTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered modal-sm" role="document">
      <div class="modal-content">
        <!-- Header -->
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <h3 class="modal-title" id="recurringModalLongTitle"><strong>Recurring</strong></h3>
        </div>
        <!-- Body -->
        <div class="modal-body">
            <div class="form-row align-items-center">
              <h4>Select method of recurrance: </h4>
              <select  class="form-control" autocomplete="off" id="recurring-method" name="recurring-method">
                <option value="Daily">Daily</option> 
                <option value="Weekly">Weekly</option>
              </select>
              <div id="recurring-daily-actions">
                <h4>Repeat this event every day:</h4>
              </div>
              <div id="recurring-weekly-actions" class="d-none">
                <h4>Repeat this event every:</h4>
                <div class="btn-group-toggle" data-toggle="buttons">
                  <% (0..6).each do |i| %>
                       <label class="btn week-days" style="width:30px;height:30px;border:solid 1px grey;">
                          <input type="checkbox" id="week-days-check-<%= i %>" value="<%= i %>" name="week-days" autocomplete="off"> 
                          <% case i %>
                            <% when 0 %>
                              <%= 'S' %>
                            <% when 1 %>
                              <%= 'M' %>
                            <% when 2 %>
                              <%= 'T' %>
                            <% when 3 %>
                              <%= 'W' %>
                            <% when 4 %>
                              <%= 'T' %>
                            <% when 5 %>
                              <%= 'F' %>
                            <% when 6 %>
                              <%= 'S' %>
                          <% end %>
                      </label>
                  <% end %>
                 
                  
                </div>
              </div>
              <div>
                <h4>Until</h4>
                <%= f.date_select :recurring_end, start_year: Date.today.year, end_year: Date.today.year, :id => 'recurring_end' %>
                </div>
            </div>
        </div>
        <!-- Footer -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary" id="recurring-save">Save</button>
        </div>
      </div>
    </div>
  </div>

  <div class="form-group">
    <h3><%= f.label :buttontype, "Details about Conversation Topic" %></h3>
    <p class="help-block"><i>NOTE: Descriptions containing URLs will not be saved. Paste all the info attendees need here.</i></p>
    <%= f.text_area :desc, cols: 82, rows: 7 %><p>
  </div>
</div>

<script>   
  function getTimezoneName() {
      const today = new Date();
      const short = today.toLocaleDateString(undefined);
      const full = today.toLocaleDateString(undefined, {
          timeZoneName: 'long'
      });

      // Trying to remove date from the string in a locale-agnostic way
      const shortIndex = full.indexOf(short);
      if (shortIndex >= 0) {
          const trimmed = full.substring(0, shortIndex) + full.substring(shortIndex + short.length);

          // by this time `trimmed` should be the timezone's name with some punctuation -
          // trim it from both sides
          return trimmed.replace(/^[\s,.\-:;]+|[\s,.\-:;]+$/g, '');

      } else {
          // in some magic case when short representation of date is not present in the long one, just return the long one as a fallback, since it should contain the timezone's name
          return full;
      }
  }

  var offset = -1 * (new Date().getTimezoneOffset() / 60)
  if (offset < 0) {
      offset = "-" + ("0" + (-1 * offset)).slice(-2) + ":00"
  } else {
      offset = "+" + ("0" + offset).slice(-2) + ":00"
  }

  

  $('#recurring-method').change(function(){
    var item = $(this).val();
    if(item === "Daily"){
      $('#recurring-weekly-actions').hide();
      $('#recurring-daily-actions').show();
    }
    else if(item === "Weekly"){
      $('#recurring-daily-actions').hide();
      $('#recurring-weekly-actions').show();
    }
  });

  $('.week-days').click(function(){
    if($(this).hasClass('active')){
      $(this).removeClass('btn-primary');
    }
    else{
      $(this).addClass('btn-primary');
    }
    
  });


  $('#recurring-set').click(function(){
      var weekDay = getWeekDay();
      var id = '#week-days-check-' + weekDay;
      if($(id).val() == weekDay){
        if(!$(id).parent().hasClass('active')){
          $(id).click();
        }
      }
      
  });

  $('#recurring-save').click(function(){
    var method = $('#recurring-method').val();
    var weekDays = [];
    $.each($("input[name='week-days']:checked"), function(){

        weekDays.push($(this).val());

    });
    console.log(weekDays);
    $('#recurring-set').html(method);
    $('#recurringModal').modal('toggle');
    var value = createHash(method, weekDays);
    $('#recurring').val(value);
  });

  function getWeekDay(){
    var year = $('#event_start_at_1i').val();
    var month = $('#event_start_at_2i').val();
    var day = $('#event_start_at_3i').val();
    var date = new Date(year,month - 1,day);
    return date.getDay();
  }

  function createHash(method, weekDays){
    var value = '{"interval":1,"until":null,"count":null,"validations":';
    if(method === "Daily"){
      value += 'null,"rule_type":"IceCube::DailyRule"}';
    }
    else if(method === "Weekly"){
      if(weekDays.length === 0){
        value += 'null,"rule_type":"IceCube::WeeklyRule","week_start":0}';
      }
      if(weekDays.length > 0){
        var i;
        value += '{"day":[';
        for(i=0;i<weekDays.length;i++){
          value += `${weekDays[i]}`;
          if(i<weekDays.length - 1){
            value += ',';
          }
        }
        value += ']},"rule_type":"IceCube::WeeklyRule","week_start":0}';
      }
    }
    return value;
  }
  
  document.getElementById("timeZone").value = offset
  document.getElementById("hb1").innerHTML = getTimezoneName()
  document.getElementById("hb2").innerHTML = getTimezoneName()
</script>
